{% extends 'base.html' %}
{% block content %}
<h1 class="text-white">All Cafes</h1>
<table class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            {% for col in header %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for cafe in cafes %}
            <tr>
                {% for item in cafe %}
                    {% if loop.index0 == 1 %}
                        <td><a href="{{ item }}" target="_blank" style="color: orange;">Map</a></td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
